# SQL Server Joins, as Explained By Dogs

Course videos: https://www.red-gate.com/hub/university/courses/t-sql/tsql-for-beginners

Course scripts: https://litknd.github.io/TSQLBeginners 

# Joins: an overview

* INNER ‚Äì Matching pairs
* OUTER
    * FULL  - All rows from each side, match where possible
    * LEFT ‚Äì All rows from the left, match right where possible
    * RIGHT - All rows from the right, match left where possible
* CROSS ‚Äì Cartesian product (all possible combos)


# Setup: Create a database

Let's create a super-simple database to illustrate joins with some helpful doggo friends. üê∂üêïüêï‚Äçü¶∫

In [9]:
--First, create the database
USE master;
GO

IF DB_ID('joins') IS NOT NULL
    DROP DATABASE joins;
GO
CREATE DATABASE joins;
GO

In [10]:
--Create two (badly named) tables and insert a small amount of data
--These names are used to keep the code short so it's easy to read on the images

--Use the database 
USE [joins];
GO

--dbo.t1
CREATE TABLE dbo.t1 (
    doggos varchar(128)
);
GO

INSERT dbo.t1 (doggos) VALUES 
    ('wat'),
    ('wat'),
    ('puppy'),
    ('puppy'),
    ('roll');
GO

--dbo.t2
CREATE TABLE dbo.t2 (
    doggos varchar(128)
);
GO

INSERT dbo.t2 (doggos) VALUES 
    ('wat'),
    ('roll'),
    ('boop');
GO

# INNER JOIN
Return all matching pairs from "left" table and "right" table 
![Inner Join](images/inner_join.png)

In [11]:
SELECT t1.doggos,
       t2.doggos
FROM dbo.t1
    INNER JOIN dbo.t2  
        ON t1.doggos = t2.doggos;

doggos,doggos
wat,wat
wat,wat
roll,roll

# LEFT OUTER JOIN

Return all rows for the "left" table, including matches from the "right" table where possible

![left outer join](images/left_outer_join.png)

In [12]:
--Left outer join
SELECT t1.doggos,
       t2.doggos
FROM dbo.t1
    LEFT OUTER JOIN dbo.t2
        ON t1.doggos = t2.doggos;
GO

doggos,doggos
wat,wat
wat,wat
puppy,NULL
puppy,NULL
roll,roll

# RIGHT OUTER JOIN

Return all rows for the "right" table, including matches from the "left" table where possible

![right outer join](images/right_outer_join.png)

In [13]:
--RIGHT OUTER JOIN
SELECT t1.doggos,
       t2.doggos
FROM dbo.t1
    RIGHT OUTER JOIN dbo.t2
        ON t1.doggos = t2.doggos;
GO

doggos,doggos
wat,wat
wat,wat
roll,roll
NULL,boop

# FULL OUTER JOIN aka FULL JOIN

Return all rows from each "side", matching where possible

![full outer join](images/full_outer_join.png)

In [14]:
--FULL JOIN
SELECT t1.doggos,
       t2.doggos
FROM dbo.t1
    FULL OUTER JOIN dbo.t2
        ON t1.doggos = t2.doggos;
GO

doggos,doggos
wat,wat
wat,wat
puppy,NULL
puppy,NULL
roll,roll
NULL,boop

# CROSS JOIN

We're going to simplify the data a little for CROSS JOIN

This is only so the picture wasn't TOO complicated üôÉ

In [15]:
--TRUNCATE TABLE clears all the data in the table: POOF!
TRUNCATE TABLE dbo.t1;
TRUNCATE TABLE dbo.t2;
GO


INSERT dbo.t1
(
    doggos
)
VALUES
('wat'),
('wat'),
('puppy')
GO

INSERT dbo.t2
(
    doggos
)
VALUES
('roll'),
('boop')
GO

![cross join](images/cross_join.png)

In [16]:
--CROSS join
SELECT t1.doggos,
       t2.doggos
FROM dbo.t1
    CROSS JOIN dbo.t2;
GO

doggos,doggos
wat,roll
wat,roll
puppy,roll
wat,boop
wat,boop
puppy,boop

# Recap of joins

* INNER ‚Äì Matching pairs
* OUTER
    * FULL  - All rows from each side, match where possible
    * LEFT ‚Äì All rows from the left, match right where possible
    * RIGHT - All rows from the right, match left where possible
* CROSS ‚Äì Cartesian product (all possible combos)